<div class="nk-app-root">
    <div class="nk-main ">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                   
                    <app-alert class="mb-2" />
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <div class="brand-logo pb-4 text-center">
                                <a class="logo-link">
                                    <img class=" logo-img logo-img-lg" src="assets/images/logo.png" alt="logo" />
                                </a>
                            </div>

                            <div class="nk-block-head mb-3">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title text-center">Advantage Pro</h5>
                                    <br/>
                                    <h5 class="nk-block-title text-center text-primary">Password reset</h5>
                                    <div class="nk-block-des text-center">
                                        <p>Set your password with the temporary password shared with you</p>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
                                <div class="form-group">
                                        <app-form-label [labelForName]="'password'" [labelName]="'Password'" />
                                    <div class="form-control-wrap">
                                        <a (click)="showPassword()" class="form-icon form-icon-right passcode-switch" data-target="password">
                                            <em [ngClass]="{ 'ni-eye-off': !show,'ni-eye': show}" class="passcode-icon icon-show icon ni ni-eye">
                                            </em>
                                        </a>
                                        <input formControlName="password" [type]="show ? 'text' : 'password'"
                                            [ngClass]="{ 'is-invalid': (loginForm.password.touched || loginForm.password.dirty || submitted) && loginForm.password.errors}"
                                            class="form-control" id="password" placeholder="Enter your password">
                                
                                        <div *ngIf="loginForm.password.errors?.required" class="invalid-feedback">
                                            <app-required-field />
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="form-group mt-4">
                                    <button class="btn btn-lg btn-primary btn-block">Reset password</button>
                                </div>
                            </form>
                                <br />

                            <div class="form-note-s2 pt-4 text-center"> Change your mind? <a [routerLink]="['/login']"  >Login</a></div>
                            <div class="text-center mt-5">
                                <app-copy-right></app-copy-right>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>