<app-page-title [pageTitleName]="'Estate bill payment'" [description]="'Manage estate bill payments'" />
<div class="card card-bordered card-preview" style="min-height: 80vh;">
    <div class="card-inner">
        <ul class="nav nav-tabs mt-n3">
            <li class="nav-item">
                <a routerLink="/estate-bill-payment/bill-payment" routerLinkActive="active" class="nav-link">
                    Pay Outstanding Bills
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/estate-bill-payment/payment-records" routerLinkActive="active" class="nav-link">
                    Payment Records
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/estate-bill-payment/demand-notice" routerLinkActive="active" class="nav-link">
                    Demand Notice
                </a>
            </li>
          
            
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="false">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"
                    data-url="#/general-reports/ledger-reports">
                    Compliance Reports <em class="icon ni ni-chevron-down"></em>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/general-reports/ledger-reports/ledger-categories"
                            [routerLinkActive]="['']">
                            KYC Reports
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/general-reports/ledger-reports/ledger-summaries"
                            routerLinkActive="active">
                            Sanction / AML / CFTR Report
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item" *ngIf="false">
                <a routerLink="/estate-bill-payment/payment-reversal" routerLinkActive="active" class="nav-link">
                    Payment Reversal
                </a>
            </li>

            <li class="nav-item" *ngIf="true">
                <a routerLink="/estate-bill-payment/property-ledger" routerLinkActive="active" class="nav-link">
                    Property Ledger
                </a>
            </li>

        </ul>
        <div class="tab-content">
            <router-outlet />
        </div>
    </div>
</div>