<app-add-item [pageTitleName]="'Zone setup'" [description]="'Setup state housing zones'">
    <span class="newItemName">
        <a (click)="openZoneModalComponent(null,true)" class="btn btn-primary"><em class="icon ni ni-plus">
            </em><span>Add zone</span>
        </a>
    </span>
</app-add-item>



<div class="row gy-2 gx-3 mb-4 align-items-center">
    <div class="col-auto">
        <div class="form-control-wrap">
            <div class="form-icon form-icon-right"><em class="icon ni ni-search"></em></div>
            <input type="text" class="form-control" id="default-04" placeholder=" Search here"
                [(ngModel)]="searchedKeyword">
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-dim btn-primary" type="button" title="" (click)="refreshButton()">
            Refresh
        </button>
    </div>

</div>

<p-table [value]="listOfZones | filter:searchedKeyword" #dt1 responsiveLayout="scroll" sortMode="multiple"
    responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-striped" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true"
    [autoLayout]="true" scrollDirection="both">

    <ng-template pTemplate="header">
        <tr>
            <th>SN</th>
            <th>Zone</th>
            <th>Contact No.</th>
            <th>Address</th>
            <th>Remarks</th>
            <th>Created By</th>
            <th>Last Modified By</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>
                <app-full-name fullName="{{data?.zoneName}}" otherFieldName="" />
            </td>
            <td>{{data.contactNo}}</td>
            <td>{{data.address}}</td>
            <td>{{data.remarks}}</td>
            <td>
                {{data.createdBy | lowercase}}
                <div class="fw-lighter">
                    <small class="d-block">{{data.createdDate | date:'medium'}}</small>
                    <small class='text-primary'> {{data.createdDate | timeAgo}}</small>
                </div>
            </td>
            <td>
                {{data.lastModifiedBy | lowercase}}
                <div class="fw-lighter">
                    <small class="d-block">{{data.lastModifiedDate | date:'medium'}}</small>
                    <small class='text-primary'>{{data.lastModifiedDate | timeAgo}}</small>
                </div>
            </td>
            <td>
                <div class="align-center select-cursor" (click)="openZoneModalComponent(data,false)">
                    <div class="user-avatar user-avatar-sm bg-light">
                        <span><em class="icon ni ni-edit"></em></span>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>