<app-page-title [pageTitleName]="'User Accounts'" [description]="'Manage users'" />
<div class="card card-bordered card-preview" style="min-height: 80vh;">
    <div class="card-inner">
        <ul class="nav nav-tabs mt-n3">
            <li class="nav-item">
                <a routerLink="/user-accounts/departments" routerLinkActive="active" class="nav-link" data-bs-toggle="tab">
                    Departments
                </a>
            </li>
           
            <li class="nav-item">
                <a routerLink="/user-accounts/users" routerLinkActive="active" class="nav-link" data-bs-toggle="tab">
                    Staffs
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/user-accounts/audit-logs" routerLinkActive="active" class="nav-link" data-bs-toggle="tab">
                    Audit Logs
                </a>
            </li>
           
        </ul>
        <div class="tab-content">
            <router-outlet />
        </div>
    </div>
</div>