<app-add-item [pageTitleName]="'Ground Rent Demand Notice'"
    [description]="'Raise ground rent demand notice for block properties or a single property'" />
<div class="row gy-2 gx-2 mt-5 mb-4 align-items-center">

    <div class="col-sm-2">
        <div class="form-group">
            <label class="form-label pt-0" for="searchParameter">Search By</label><br />
            <div class="form-control-wrap">
                <div class="form-control-select">
                    <select class="form-control" id="searchParameter" [(ngModel)]="searchParameter"
                        (change)="searchParameterListener()">
                        <option value="BAB">Estate & block</option>
                        <option value="NAM" selected class="fs-6">Occupant Name</option>
                        <option value="MOB" selected class="fs-6">Mobile No.</option>
                        <option value="PNAM" selected class="fs-6">Property Name</option>
                        <option value="PNO" selected class="fs-6">Property No.</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="searchParameter !=='BAB'">
        <div class="col-sm-2" *ngIf="searchParameter">
            <div class="form-control-wrap">
                <label class="form-label pt-0" for="searchParameter">{{searchParameterLabel}}</label><br />
                <input type="text" autocomplete="off" class="form-control" id="searchParameter"
                    placeholder="Enter {{searchParameterLabel}}" [(ngModel)]="searchValue">
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="searchParameter=='BAB'">
        <div class="col-sm-2">
            <div class="form-group">
                <app-form-label [labelForName]="'estate'" [labelName]="'Estates'" />
                <div class="form-control-wrap">
                    <ng-select id="estate" [clearable]="false" [(ngModel)]="estate" (change)="fetchEstateBlocks()">
                        <ng-option value="A" class="fs-6" selected disabled>Select Estate</ng-option>
                        <ng-option *ngFor="let data of listOfEstates" [value]="data.recordId">
                            {{data.estateName}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <app-form-label [labelForName]="'block'" [labelName]="'Blocks'" />
                <div class="form-control-wrap">
                    <ng-select id="block" [clearable]="false" [(ngModel)]="block">
                        <ng-option value="A" class="fs-6" disabled selected>Select Block</ng-option>
                        <ng-option *ngFor="let data of listOfEstateBlocks" [value]="data.recordId">
                            {{data.block}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="col-sm-2">
        <div class="form-group">
            <app-form-label [labelForName]="'chargeYear'" [labelName]="'Charge Year'" />
            <div class="form-control-wrap">
                <ng-select id="chargeYear" [clearable]="false" [(ngModel)]="chargeYear">
                    <ng-option *ngFor="let data of listOfChargeYears" [value]="data">
                        {{data}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-dim btn-primary mt-4" type="button" (click)="searchBillPayments()">
            Generate
        </button>
    </div>
    <div class="col-auto" *ngIf="demandNotices?.length >0">
        <button class="btn btn-dim1 btn-light mt-4" type="button" (click)="printDemandNotice()">
        <em class="icon ni ni-printer"></em>
        <span>Print</span>
        </button>
    </div>

</div>
<div class="row gy-2 gx-3 my-3">
    <div class="col-auto">
        <div class="form-control-wrap">
            <div class="form-icon form-icon-right"><em class="icon ni ni-search"></em></div>
            <input type="text" class="form-control" autocomplete="off" id="default-04" placeholder="Quick search"
                [(ngModel)]="searchedKeyword">
        </div>
    </div>
    
</div>
<p-table [value]="demandNotices | filter:searchedKeyword" #dt1 responsiveLayout="scroll" sortMode="multiple"
    responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-striped" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true"
    [autoLayout]="true" scrollDirection="both">

    <ng-template pTemplate="header">
        <tr>
            <th>Occupant</th>
            <th>Street Name</th>
            <th>File No.</th>
            <th>Property No.</th>
            <th>Property Class</th>
            <th>Location</th>
            <th class="text-end">Current Charge</th>
            <th class="text-end">Arrears</th>
            <th class="text-end">Total Amount Due</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                <app-full-name [showAvatar]="false" fullName="{{data?.lessee }}"
                    otherFieldName="" />
            </td>
            <td>{{data?.streetName}}</td>
            <td>{{data?.fileNo}}</td>
            <td>{{data?.propertyNo}}</td>
            <td>{{data?.propertyClass | titlecase}}</td>
            <td>{{data?.location}}</td>
            <td class="text-end font-monospace"><span class="fs-15px">{{data?.currentCharge | number: '.2-2'}}</span></td>
            <td class="text-end font-monospace"><span class="fs-15px">{{data?.arrears | number: '.2-2'}}</span></td>
            <td class="text-end font-monospace"><span class="fs-15px">{{ (data?.currentCharge + data?.arrears)| number: '.2-2'}}</span></td>
        </tr>
    </ng-template>
</p-table>

<div class="row mt-3 justify-content-end">
    <div class="col-6"></div>
    <div class="col-6">
        <div class="row gy-2">
            <div class="col-sm-12 text-end">
                Currency:<span class="ff-mono fw-bolder "> GHS</span>
            </div>
            <div class="col-sm-12 text-end ">
                Total Current Charge: <span class="ff-mono fw-bolder fs-19px"> {{totalCurrentCharge | number : '1.2-2'}}</span>
            </div>
            <div class="col-sm-12  text-end  ">
                Total Arrears: <span class="ff-mono fw-bolder fs-19px"> {{totalArrears | number : '1.2-2'}}</span>
            </div>
            <div class="col-sm-12 text-end">
                Total Amount Due: <span class="ff-mono fw-bolder fs-19px"> {{totalAmountDue | number : '1.2-2'}}</span>
            </div>
        </div>
    </div>
</div>