<app-add-item [pageTitleName]="'Property Bill Payments'" [description]="'Payments of ground and house rents'">
    <span class="newItemName">
        <a (click)="openPaymentComponent(null,true)" class="btn btn-primary" *ngIf="showOccupantDetails">
            <em class="icon ni ni-plus">
            </em><span>New payment</span>
        </a>
    </span>
</app-add-item>


<div class="row">
    <div class="col-lg-4">
        <div class="card card-no-border">
            <div class="card-title">
                <div class="form-group mb-3">
                    <app-form-label [labelForName]="'searchText'" [labelName]="'Search  occupant or property'" />
                    <div class="form-control-wrap">
                        <div class="form-icon form-icon-right">
                            <em [ngClass]="{ 'ni-search': !showSpinner,'ni-loader spinner text-gray fw-bold': showSpinner}"
                                class="icon ni">
                            </em>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="searchText"
                            placeholder="Enter occupant name,mobile no,property name,id" [(ngModel)]="searchTerm"
                            (input)="searchOccupants()">
                    </div>
                </div>
            </div>
            <ng-container *ngIf="listOfOccupantProperties">
                <ul class="custom-control-group custom-control-vertical custom-control-stacked w-100">
                    <li *ngFor="let item of listOfOccupantProperties">
                        <div class="custom-control custom-control-sm custom-radio custom-control-pro"
                            (click)="selectOccupant(item)">
                            <input type="radio" class="custom-control-input" id="{{item.recordId}}" name="user-choose">
                            <label class="custom-control-label" for="{{item.recordId}}">
                                <span class="user-card">
                                    <span class="user-avatar {{ '' | avatarBg }}">
                                        <span>{{item.occupantName | avatarName}}</span>
                                    </span>
                                    <span class="user-info">
                                        <span class="lead-text">{{item.occupantName}}</span>
                                        <span class="sub-text">{{item.mobileNo}}</span>
                                        <span class="sub-text">{{item.propertyName}} ({{item.propertyId}}) </span>
                                        <span class="sub-text">{{item.occupationType}}</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="showNoRecordsFound">
                <div class="text-center">
                    <img src="assets/images/icons/plan-s1.svg" alt="" class="w-40 h-25">
                    <h6 class="text-muted">No records found</h6>
                </div>
            </ng-container>
            <ng-container *ngIf="showOccupantDetails">
                <div>
                    <span class="preview-title-lg overline-title">Occupant Information</span>
                    <dl class="row">
                        <dd class="col-sm-6">Occupant</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.occupantName}}</dt>
                        <dd class="col-sm-6">Occupant Type</dd>
                        <dt class="col-sm-6">
                            {{selectedOccupant?.institutional ==true ? 'Institution':'Individual' }}
                        </dt>
                        <dd class="col-sm-6">Mobile No.</dd>
                        <dt class="col-sm-6"> {{selectedOccupant?.mobileNo}} </dt>
                        <dd class="col-sm-6">Email Address</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.emailAddress}}</dt>
                        <dd class="col-sm-6">Occupation Type</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.occupationType | titlecase}}</dt>
                    </dl>
                    <span class="preview-title-lg overline-title">Property Information</span>
                    <dl class="row">
                        <dd class="col-sm-6">Property Id</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.propertyId}}</dt>
                        <dd class="col-sm-6">Property Name</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.propertyName}}</dt>
                        <dd class="col-sm-6">Property No.</dd>
                        <dt class="col-sm-6"> {{selectedOccupant?.propertyNo}} </dt>
                        <dd class="col-sm-6">Property Usage</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.propertyUsage | removeHyphen | titlecase}}</dt>
                        <dd class="col-sm-6">Occupant Category</dd>
                        <dt class="col-sm-6">{{selectedOccupant?.propertyCategory | titlecase}}</dt>
                    </dl>
                    <dl class="row">
                        <dd class="col-sm-6">Balance As @ Today:</dd>
                        <dt class="col-sm-6 text-primary fs-17px">{{currentBal | number : '1.2-2'}}</dt>
                    </dl>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="showOccupantDetails">
        <!-- <ng-container> -->
        <div class="col-lg-8">
            <div class="row gy-2 gx-2  mb-4 align-items-center">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label pt-0" for="searchParameter">Search By</label><br />
                        <div class="form-control-wrap">
                            <div class="form-control-select">
                                <select class="form-control" id="searchParameter" [(ngModel)]="searchParameter"
                                    (change)="searchParameterListener()">
                                    <option value="receiptNumberIssued">Receipt No.</option>
                                    <option value="mediumOfPaymentNumber">Mode of Payment No.</option>
                                    <option value="DR">Date Range</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto" *ngIf="searchParameter !=='DR'">
                    <div class="form-control-wrap">
                        <label class="form-label pt-0" for="searchValue">{{searchParameterLabel}}</label><br />
                        <input type="text" autocomplete="off" class="form-control" id="searchValue"
                            placeholder="Enter {{searchParameterLabel}}" [(ngModel)]="searchValue">
                    </div>
                </div>
                <ng-container *ngIf="searchParameter=='DR'">
                    <div class="col-auto">
                        <div class="form-control-wrap">
                            <div class="form-group">
                                <label class="form-label pt-0" for="startDate">Start Date</label><br />
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy-mm-dd"
                                    styleClass=”form-control” dateFormat="dd-mm-yy" [showIcon]="true"
                                    [(ngModel)]="startDate">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label class="form-label pt-0" for="endDate">End Date</label><br />
                        <p-calendar styleClass=”form-control” dateFormat="dd-mm-yy" [showIcon]="true"
                            [(ngModel)]="endDate">
                        </p-calendar>
                    </div>
                </ng-container>

                <div class="col-auto">
                    <button class="btn btn-dim btn-primary mt-4 btn-sm" type="button" title=""
                        (click)="searchOccupantPayments()">
                        Search
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-dim btn-light mt-4 btn-sm" type="button" title="" (click)="cancelButton()">
                        Cancel
                    </button>
                </div>


            </div>
            <div class="row gy-2 gx-3 my-3" *ngIf="listOfPropertyLedgers?.length>0">
                <div class="col-auto">
                    <div class="form-control-wrap">
                        <div class="form-icon form-icon-right"><em class="icon ni ni-search"></em></div>
                        <input type="text" class="form-control" autocomplete="off" id="default-04"
                            placeholder="Quick search" [(ngModel)]="searchedKeyword">
                    </div>
                </div>

                <div class="col-auto " *ngIf="listOfPropertyLedgers?.length>0">
                    <div class="dropdown" tooltip="Data export">
                        <a href="#" class="dropdown-toggle btn btn-icon btn-light btn-outline-light1"
                            data-bs-toggle="dropdown" aria-expanded="false" title="Export Data">
                            <em class="icon ni ni-download"></em>
                        </a>
                        <div class="dropdown-menu" style="">
                            <ul class="link-list-opt no-bdr">
                                <li>
                                    <a (click)="export()">
                                        <em class="icon ni ni-file-xls"></em>
                                        <span>Export to Excel</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="cursor: not-allowed;">
                                        <em class="icon ni ni-file-pdf disabled"></em>
                                        <span>Export to PDF</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </div>

            <p-table [value]="listOfPropertyLedgers | filter:searchedKeyword" #dt1 responsiveLayout="scroll"
                sortMode="multiple" responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-striped"
                [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [resizableColumns]="true" [autoLayout]="true" scrollDirection="both">

                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-end">Amount(GHS)</th>
                        <th>Payment Mode</th>
                        <th>Debit/Credit</th>
                        <th>Receipt</th>
                        <th>Payment Date</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td class="text-end font-monospace">{{data.amountInvolved | number: '.2-2'}}</td>
                        <td>
                            <app-full-name [showAvatar]="false"
                                fullName="{{data?.mediumOfPayment | titlecase | removeHyphen}}"
                                otherFieldName="{{data?.mediumOfPaymentNumber}}" />
                        </td>
                        <td>
                            <app-full-name [showAvatar]="false"
                                fullName="{{data?.debitCreditEntry | titlecase | removeHyphen}}"
                                otherFieldName="{{data?.ledgerYear}}" />
                        </td>
                        <td>{{data.receiptNumberIssued}}</td>
                        <td>
                            {{data.paymentDate | lowercase}}
                            <div class="fw-lighter">
                                <small class="d-block">{{data.createdDate | date:'medium'}}</small>
                                <small > {{data.createdDate | timeAgo}}</small>
                            </div>
                        </td>
                        <td>
                            <div class="drodown">
                                <a class="dropdown-toggle btn btn-icon btn-light" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <em class="icon ni ni-more-h"></em>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                        <li class="disabled"
                                            *ngIf="data.ledgerYear===currentYear && data.debitCreditEntry==='CREDIT'">
                                            <a (click)=" openPaymentComponent(data,false)">
                                                <em class="icon ni ni-edit"></em>
                                                <span>Edit payment</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)=" openPaymentDetailsComponent(data,selectedOccupant)"
                                                *ngIf="data.debitCreditEntry==='CREDIT'">
                                                <em class="icon ni ni-eye"></em>
                                                <span>View payment details</span>
                                            </a>
                                        </li>
                                        <li class="disabled">
                                            <a (click)="openPaymentComponent(data,false)"
                                                *ngIf="data.debitCreditEntry==='DEBIT'">
                                                <em class="icon ni ni-send"></em>
                                                <span>Send demand notice</span>
                                            </a>
                                        </li>
                                        <li class="disabled">
                                            <a (click)="openPaymentComponent(data,false)"
                                                *ngIf="data.debitCreditEntry==='DEBIT'">
                                                <em class="icon ni ni-printer"></em>
                                                <span>Print demand notice</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="row mt-3 justify-content-end">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row gy-2">
                        <div class="col-sm-12 text-end">
                            Currency:<span class="ff-mono fw-bolder "> GHS</span>
                        </div>
                        <div class="col-sm-12 text-end ">
                            Total Credit: <span class="ff-mono fw-bolder "> {{totalCredit | number : '1.2-2'}}</span>
                        </div>
                        <div class="col-sm-12  text-end  ">
                            Total Debit: <span class="ff-mono fw-bolder "> {{totalDebit | number : '1.2-2'}}</span>
                        </div>
                        <div class="col-sm-12 text-end">
                            Outstanding Bal: <span class="ff-mono fw-bolder "> {{balance | number : '1.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>