<div class="modal-header">
    <h6 class="modal-title">{{propertyLedger.occupantName}} Details</h6>
    <button type="button btn-xs" class="close btn-close pull-right" aria-label="Close"
        (click)="paymentDetailsBsModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card card-no-border">
        <div class="pricing-body">
            <ul class="pricing-features">
                <span class="preview-title-lg overline-title">Occupant Details</span>
                <li>
                    <span class="w-50">Occupant</span> -
                    <span class="ms-auto fw-bolder">{{propertyLedger.occupantName}}</span>
                </li>
                <li>
                    <span class="w-50">Occupant Type</span> -
                    <span class="ms-auto fw-bolder">{{propertyLedger.institutionalDisplayName}}</span>
                </li>
                <li>
                    <span class="w-50">Mobile No.</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant.mobileNo}}</span>
                </li>
                <li>
                    <span class="w-50">Email Address</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant.emailAddress}}</span>
                </li>
                <li>
                    <span class="w-50">Occupation Type</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant.occupationType}}</span>
                </li>
                <span class="preview-title-lg overline-title mt-3">Property Details</span>
                <li>
                    <span class="w-50">Property Id</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant.propertyId}}</span>
                </li>
                <li>
                    <span class="w-50">Property Name</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant.propertyName}}</span>
                </li>
                <li>
                    <span class="w-50">Property No.</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant.propertyNo}}</span>
                </li>
                <li>
                    <span class="w-50">Property Usage</span> -
                    <span class="ms-auto fw-bolder">{{propertyLedger?.propertyUsage | removeHyphen | titlecase}}</span>
                </li>
                <li>
                    <span class="w-50">Property Category</span> -
                    <span class="ms-auto fw-bolder">{{selectedOccupant?.propertyCategory | titlecase}}</span>
                </li>
                <span class="preview-title-lg overline-title mt-3">Payment Details</span>
                <li>
                    <span class="w-50">Amount Paid</span> -
                    <span class="ms-auto fw-bolder">{{propertyLedger.amountInvolved| number : '1.2-2'}}</span>
                </li>
                <li>
                    <span class="w-50">Payment Type</span> -
                    <span class="ms-auto fw-bolder"> {{propertyLedger.paymentType| removeHyphen | titlecase}} </span>
                </li>
                <li>
                    <span class="w-50">Payment Date</span> -
                    <span class="ms-auto fw-bolder">
                        <div class="fw-lighter">
                            <small class="d-block">{{propertyLedger.dateOfRecordEntry | date:'medium'}}</small>
                            <small class='text-primary'> {{propertyLedger.dateOfRecordEntry.toString() | timeAgo}}</small>
                        </div>
                    </span>
                </li>
                <li>
                    <span class="w-50">Recorded By</span> -
                    <span class="ms-auto fw-bolder">{{propertyLedger.createdBy}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row my-3 mx-2 mb-3 justify-content-end">
    <div class="col-auto">
        <a (click)="paymentDetailsBsModalRef?.hide()" class="btn btn-sm  btn-primary">
            <span>Close</span>
        </a>
    </div>
</div>