<form novalidate [formGroup]="paymentFormGroup">
    <div class="modal-header">
        <h6 class="modal-title">{{propertyChargeHeaderMsg | titlecase}}</h6>
        <button type="button btn-xs" class="close btn-close pull-right" aria-label="Close"
            (click)="addPaymentBsModalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="p-10" *ngIf="false">
            <br />Dirty: {{ paymentFormGroup.dirty }}
            <br />Touched: {{ paymentFormGroup.touched }}
            <br />Valid: {{ paymentFormGroup.valid }}
            <br />Value: {{ paymentFormGroup.value | json }}
        </div>

        <app-required-fields-notice />
        <div class="row gy-3 mt-3">
            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'payerName'" [labelName]="'Payer'" />
                    <div class="form-control-wrap">
                        <input type="text" formControlName="payerName" class="form-control" id="payerName"
                            autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'billAmount'" [labelName]="'Bill Arrears'" />
                    <div class="form-control-wrap">
                        <input type="text" formControlName="billAmount" class="form-control" id="billAmount"
                            autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'receiptNumber'" [labelName]="'Receipt No.'" />
                    <div class="form-control-wrap">
                        <input type="number" formControlName="receiptNumber" class="form-control" id="receiptNumber"
                            autocomplete="off" style="min-height: 40px"
                            [ngClass]="{ 'is-invalid': (  paymentForm.receiptNumber ?.touched ||  paymentForm.receiptNumber ?.dirty || submitted) && paymentForm.receiptNumber ?.errors  }" />

                        <span class="invalid-feedback">
                            <div *ngIf=" paymentForm.receiptNumber ?.errors?.required">
                                <app-required-field />
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'dateOfTransaction'" [labelName]="'Date of Payment'" />
                    <p-calendar styleClass="w-100" formControlName="dateOfTransaction" id="dateOfTransaction"
                        dateFormat="dd-mm-yy" [showIcon]="true"
                        [ngClass]="{ 'is-invalid': (  paymentForm.dateOfTransaction ?.touched ||  paymentForm.dateOfTransaction ?.dirty || submitted) &&  paymentForm.dateOfTransaction ?.errors  }" />
                    <span class="invalid-feedback">
                        <span *ngIf="paymentForm.dateOfTransaction?.errors?.required">
                            <app-required-field />
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'modeOfPayment'" [labelName]="'Mode Of Payment'" />
                    <div class="form-control-wrap">
                        <div class="form-control-select">
                            <select id="regionId" formControlName="modeOfPayment" class="form-control"
                                (change)="modeOfPaymentListeners()"
                                [ngClass]="{ 'is-invalid': ( paymentForm.modeOfPayment?.touched || paymentForm.modeOfPayment?.dirty || submitted) && paymentForm.modeOfPayment?.errors  }">
                                <option value="" class="fs-6" selected>Select One</option>
                                <option *ngFor="let data of listOfModeOfPayments" [value]="data.dataValue">
                                    {{data.dataLabel}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                <div *ngIf="paymentForm.modeOfPayment?.errors?.required">
                                    <app-required-field />
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'modeOfPaymentNo'" [labelName]="'Mode Of Payment No.'" />
                    <div class="form-control-wrap">
                        <input type="number" formControlName="modeOfPaymentNo" class="form-control" id="modeOfPaymentNo"
                            autocomplete="off"
                            [ngClass]="{ 'is-invalid': (  paymentForm.modeOfPaymentNo ?.touched ||  paymentForm.modeOfPaymentNo ?.dirty || submitted) &&  paymentForm.modeOfPaymentNo ?.errors  }" />
                        <span class="invalid-feedback">
                            <div *ngIf=" paymentForm.modeOfPaymentNo ?.errors?.required">
                                <app-required-field />
                            </div>
                        </span>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <app-form-label [labelForName]="'amountPaid'" [labelName]="'Amount'" />
                    <div class="form-control-wrap">
                        <input type="number" formControlName="amountPaid" class="form-control" id="amountPaid"
                            autocomplete="off" style="min-height: 40px"
                            [ngClass]="{ 'is-invalid': (  paymentForm.amountPaid ?.touched ||  paymentForm.amountPaid ?.dirty || submitted) && paymentForm.amountPaid ?.errors  }" />

                        <span class="invalid-feedback">
                            <div *ngIf=" paymentForm.amountPaid ?.errors?.required">
                                <app-required-field />
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <ng-container *ngIf="isAddMode && paymentForm.amountPaid?.value">
                    <div class="custom-control custom-checkbox checked">
                        <input type="checkbox" formControlName="spreadAmtForOccupantProperties"
                            id="spreadAmtForOccupantProperties" class="custom-control-input"
                            id="spreadAmtForOccupantProperties">
                        <label class="custom-control-label fw-bold" for="spreadAmtForOccupantProperties">
                            Spread amount for occupant's properties
                        </label>
                    </div>
                    <div class="example-alert mt-2" *ngIf="paymentForm.spreadAmtForOccupantProperties?.value">
                        <div class="alert alert-warning alert-icon">
                            <em class="icon ni ni-alert-c"></em> <strong>NOTE:</strong>
                            the amount(GHS {{paymentForm.amountPaid?.value}}) will shared among all the properties of occupant.
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row my-3 mx-2 mb-3 justify-content-end">
        <div class="col-auto">
            <button class="btn btn-outline-light btn-sm" data-bs-dismiss="modal" (click)="addPaymentBsModalRef?.hide()">
                Close
            </button>
        </div>
        <div class="col-auto" *ngIf="!isAddMode">
            <button class="btn btn-primary btn-sm" (click)="updatePayment()">
                Update {{payBill?.paymentType | lowercase | removeHyphen}}
            </button>
        </div>
        <div class="col-auto" *ngIf="isAddMode">
            <button class="btn btn-primary btn-sm text-capitalize" (click)="savePayment()">
                Pay {{payBill?.paymentType | lowercase | removeHyphen}}
            </button>
        </div>
    </div>
</form>