<div class="nk-app-root">

    <div class="nk-main">
        <div class="nk-sidebar nk-sidebar-fixed is-theme" data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head bg-white">
                <div class="nk-menu-trigger">
                    <a class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                        <em class="icon ni ni-arrow-left"></em>
                    </a>
                    <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                        data-target="sidebarMenu">
                        <em class="icon ni ni-menu"></em>
                    </a>
                </div>
                <div class="nk-sidebar-brand">
                    <a routerLink="/dashboard" routerLinkActive="active" class="logo-link nk-sidebar-logo">
                        <img class="logo-img" src="assets/images/logo.png" srcset="assets/images/logo.png 2x"
                            alt="logo">
                    </a>
                </div>
            </div>
            <app-menus />
        </div>

        <div class="nk-wrap">
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1">
                            <a class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                                    class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a routerLink="/dashboard" class="logo-link">
                                <img class="logo-light logo-img" src="assets/images/logo.png"
                                    srcset="assets/images/logo.png 2x" alt="logo">
                                <img class="logo-dark logo-img" src="assets/images/logo.png"
                                    srcset="assets/images/logo.png 2x" alt="logo-dark">
                            </a>
                        </div>
                        <div class="nk-header-news d-none d-xl-block">
                            <div class="nk-news-list" *ngIf="false">
                                <a class="nk-news-item" href="#">
                                    <div class="nk-news-icon"><em class="icon ni ni-card-view"></em></div>
                                    <div class="nk-news-text">
                                        <h5 class="d-block">{{currentUser.companyName}}</h5>
                                        <span>P.O. BOX 282, 03720 22 576</span>
                                    </div>
                                </a>
                            </div>
                            <div class="nk-news-list">
                                <a class="nk-news-item" routerLink="/dashboard">
                                    <div class="nk-news-text">
                                        <p class="fs-3"> State Housing Company -
                                            <span class="fs-6"> {{currentUser.companyName}} {{currentUser.location}},
                                                {{currentUser.contactNo}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li>SMS Credit: <span class="fw-bold text-primary">49.80</span></li>
                                <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                            <div class="user-info d-none d-md-block">
                                                <div class="user-status">{{currentUser.userRoleName | titlecase}}</div>
                                                <div class="user-name dropdown-indicator">
                                                    {{currentUser?.fullName}} ({{currentUser?.username}})
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <span>{{currentUser.fullName |
                                                        avatarName}}</span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{currentUser.fullName}}</span>
                                                    <span class="sub-text">{{currentUser.emailAddress}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner" *ngIf="false">
                                            <ul class="link-list">
                                                <li><a href="user-profile-regular.html"><em
                                                            class="icon ni ni-user-alt"></em><span>View
                                                            Profile</span></a>
                                                </li>
                                                <li><a href="user-profile-setting.html"><em
                                                            class="icon ni ni-setting-alt"></em><span>Account
                                                            Setting</span></a>
                                                </li>
                                                <li><a href="user-profile-activity.html"><em
                                                            class="icon ni ni-activity-alt"></em><span>Login
                                                            Activity</span></a>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a (click)="signOut()"><em
                                                            class="icon ni ni-signout"></em><span>Sign
                                                            out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a (click)="signOut()" class="nk-quick-nav-icon">
                                        <em class="icon ni ni-signout"></em>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-content">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <router-outlet />
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-footer">
                <div class="container">
                    <div class="nk-footer-wrap text-center">
                        <div class="nk-footer-copyright">
                            <app-copy-right />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>