<div class="modal-header">
    <h6 class="modal-title">Password reset</h6>
    <button type="button btn-xs" class="close btn-close pull-right" aria-label="Close"
        (click)="adminPasswordResetBsModalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form novalidate [formGroup]="passwordResetFormGroup">
        <div class="gallery-body card-inner align-center justify-between flex-wrap g-2">
            <div class="user-card">
                <div class="user-info">
                    <app-full-name fullName="{{staff?.fullName}} ({{staff.username}})"
                        otherFieldName="{{staff?.email}}" />
                </div>
            </div>
        </div>
        <div class="row gy-4 m-t-10">
            <div class="col-12">
                <div class="form-control-wrap">
                    <app-form-label [labelForName]="'username'" [labelName]="'Temporary Password'" />

                    <div class="input-group has-validation">

                        <input type="text" formControlName="password" class="form-control" id="password"
                            autocomplete="off" [ngClass]="{'is-valid':passwordResetForm.password?.valid }"
                            [ngClass]="{ 'is-invalid': (  passwordResetForm.password ?.touched ||  passwordResetForm.password ?.dirty || submitted) && ! passwordResetForm.password ?.valid  }" />
                        <div class="input-group-append">
                            <app-copy-button message="{{passwordResetForm.password.value}}" />
                            <button (click)="generatePassword()" class="btn btn-outline-light"><em
                                    class="icon ni ni-repeat"></em></button>
                        </div>

                        <span class="invalid-feedback">
                            <div *ngIf=" passwordResetForm.password ?.errors?.required">
                                <app-required-field />
                            </div>
                        </span>
                    </div>
                </div>
            </div>

           
        </div>

        <div class="row gx-3 justify-content-end mt-5">
            <div class="col-auto">
                <button class="btn btn-outline-lighter" type="button" title="" (click)="adminPasswordResetBsModalRef?.hide()">
                    Close
                </button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" (click)="resetPassword()"
                    [title]="passwordResetFormGroup.invalid ? 'There must be errors on the form':''">
                    Reset
                </button>
            </div>
        </div>
    </form>
</div>

