<app-page-title pageTitleName="Dashboard" description="{{ greetMsg }} {{ ' ' + currentUser.fullName }}.">
<span class="newButtonName">
    <a (click)="fetchDashboardSummary()" class="btn btn-dim btn-primary">
        <em class="icon ni ni-reload"></em>
        <span>Refresh</span>
    </a>
</span>
</app-page-title>
<div class="nk-block">

    <div class="row g-gs">
        <div class="col-md-4">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0 text-center">
                        <div class="card-title">
                            <h6 class="title">Estates</h6>
                        </div>
                    </div>
                    <div class="card-amount text-center">
                        <div class="amount"> {{dashboardSummary?.totalEstateSize | number: '.2-2'}}
                            <span style="letter-spacing: .1em;color: #8094ae;"
                                class="fs-11px sub-text-sm text-uppercase">
                                arches
                            </span>
                        </div>
                    </div>
                    <div class="invest-data">
                        <div class="invest-data-amount g-2">
                            <div class="invest-data-history">
                                <div class="title">Total</div>
                                <div class="amount">{{(dashboardSummary?.occupiedEstates + dashboardSummary?.availableEstates) | number}}</div>
                            </div>
                            <div class="invest-data-history">
                                <div class="title">Allocated</div>
                                <div class="amount">{{dashboardSummary?.occupiedEstates | number}}</div>
                            </div>
                            <div class="invest-data-history">
                                <div class="title">Available</div>
                                <div class="amount">{{dashboardSummary?.availableEstates | number}}</div>
                            </div>
                        </div>
                        <div class="invest-data-ck">
                            <img src="assets/images/graphs.png" alt="" />
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col-md-4">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0">
                        <div class="card-title">
                            <h6 class="title">Blocks</h6>
                        </div>
                    </div>
                    <div class="card-amount">
                        <span class="amount"> {{dashboardSummary?.totalBlockSize | number: '.2-2'}}
                            <span style="letter-spacing: .1em;color: #8094ae;"
                                class="fs-11px sub-text-sm text-uppercase">
                                arches
                            </span>
                        </span>
                    </div>
                    <div class="invest-data">
                        <div class="invest-data-amount g-2">
                            <div class="invest-data-history">
                                <div class="title">Total</div>
                                <div class="amount">{{(dashboardSummary?.occupiedBlocks + dashboardSummary?.availableBlocks) | number}}</div>
                            </div>
                            <div class="invest-data-history">
                                <div class="title">Allocated</div>
                                <div class="amount"> {{dashboardSummary?.occupiedBlocks | number}} </div>
                            </div>
                            <div class="invest-data-history">
                                <div class="title">Available</div>
                                <div class="amount"> {{dashboardSummary?.availableBlocks | number}} </div>
                            </div>
                        </div>
                        <div class="invest-data-ck">
                            <!-- <div> -->
                            <img src="assets/images/graphs.png" alt="" />
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col-md-4">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0">
                        <div class="card-title">
                            <h6 class="title">Properties</h6>
                        </div>
                    </div>
                    <div class="card-amount">
                        <span class="amount"> {{dashboardSummary?.totalPropertySize | number: '.2-2'}}
                            <span style="letter-spacing: .1em;color: #8094ae;"
                                class="fs-11px sub-text-sm text-uppercase">
                                arches
                            </span>
                        </span>
                    </div>
                    <div class="invest-data">
                        <div class="invest-data-amount g-2">
                            <div class="invest-data-history">
                                <div class="title">Total</div>
                                <div class="amount">{{(dashboardSummary?.occupiedProperties + dashboardSummary?.availableProperties) | number}}</div>
                            </div>
                            <div class="invest-data-history">
                                <div class="title">Allocated</div>
                                <div class="amount"> {{dashboardSummary?.occupiedProperties | number}} </div>
                            </div>
                            <div class="invest-data-history">
                                <div class="title">Available</div>
                                <div class="amount">
                                    {{dashboardSummary?.availableProperties | number}}
                                </div>

                            </div>
                        </div>

                        <div class="invest-data-ck">
                            <!-- <div> -->
                            <img src="assets/images/graphs.png" alt="" />
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col-md-3 col-lg-3" *ngFor="let item of dashboardSummary?.estateSummary">
            <div class="card card-bordered">
                <div class="card-inner">
                    <div class="team">
                        <div class="user-card user-card-s2">
                            <div class="user-avatar md {{''|avatarBg}}">
                                <span>{{item.recordId}}</span>
                            </div>
                            <div class="user-info">
                                <h6>{{item.estateName}}</h6>
                                <!-- <span class="sub-text">{{item.recordId}}</span> -->
                            </div>
                        </div>
                        <ul class="team-info">
                            <li><span>Blocks</span><span> {{item?.blocks| number}}</span></li>
                            <li><span>Properties</span><span> {{item?.properties| number}}</span></li>
                            <li><span>Inactive Prop</span><span> {{item?.inactiveProperties| number}}</span></li>
                            <li><span>Prop. Allocated</span><span> {{item?.allocatedProperties| number}}</span></li>
                            <li><span>Prop. Available</span><span> {{item?.availableProperties| number}}</span></li>
                        </ul>
                    </div><!-- .team -->
                </div><!-- .card-inner -->
            </div><!-- .card -->
        </div>

    </div>





</div>