<div class="nk-sidebar-element nk-sidebar-body">
    <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: -16px 0px -40px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" tabindex="0" role="region"
                            aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 16px 0px 40px;">
                                <ul class="nk-menu">
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt1 fs-14px">
                                            <!-- {{currentUser.lastLoginDate | date:'medium'}} -->
                                            <!-- {{currentUser.lastLoginDate | date:'medium'}} -->
                                        </h6>
                                    </li>
                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/dashboard" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-dashboard"></em>
                                            </span>
                                            <span class="nk-menu-text">Dashboard</span>
                                        </a>
                                    </li>
                                    

                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/settings" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-setting"></em>
                                            </span>
                                            <span class="nk-menu-text">Settings</span>
                                        </a>
                                    </li>

                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/occupancy" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-users"></em>
                                            </span>
                                            <span class="nk-menu-text">Occupancy</span>
                                        </a>
                                    </li>

                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/estate-billing" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-file-docs"></em>
                                            </span>
                                            <span class="nk-menu-text">Estate Billing</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/estate-bill-payment" class="nk-menu-link"
                                            data-bs-original-title="" title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-money"></em>
                                            </span>
                                            <span class="nk-menu-text">Estate Bill Payments</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/general-reports" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-reports"></em>
                                            </span>
                                            <span class="nk-menu-text">General Reports</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/user-accounts" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-account-setting"></em>
                                            </span>
                                            <span class="nk-menu-text">User Accounts</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item" routerLinkActive="active current-page">
                                        <a routerLink="/notifications" class="nk-menu-link" data-bs-original-title=""
                                            title="">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-bell"></em>
                                            </span>
                                            <span class="nk-menu-text">Notifications</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 1586px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar"
                    style="height: 102px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
            </div>
        </div>
    </div>
</div>