<app-page-title [pageTitleName]="'Notifications'" [description]="'Send sms notifications'" />
<div class="card card-bordered card-preview" style="min-height: 80vh;">
    <div class="card-inner">
        <ul class="nav nav-tabs mt-n3">
            <li class="nav-item">
                <a routerLink="/notifications/sms-blast" routerLinkActive="active" class="nav-link" >
                    SMS Blast
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/notifications/bill-sms-blast" routerLinkActive="active" class="nav-link" >
                    Bill SMS Blast
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <router-outlet />
        </div>
    </div>
</div>