<div class="card card-no-border">
    <div class="card-inner">
        <form novalidate [formGroup]="rentalBillFormGroup">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <app-add-item [pageTitleName]="'Back Rental Billing'"
                        [description]="'Apply rental bill for previous months and years'" />
                    <div class="card-bordered">
                        <div class="card-inner">
                            <div class="row gy-4 ">
                                <app-required-fields-notice />
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'estateId'" [labelName]="'Estate'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="estateid" formControlName="estateId" [clearable]="false"
                                                (change)="fetchBlocks()"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.estateId?.touched || rentalBillForm.estateId?.dirty || submitted) && rentalBillForm.estateId?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Estate</ng-option>
                                                <ng-option *ngFor="let data of listOfEstates" [value]="data.recordId">
                                                    {{data.estateName}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div *ngIf="rentalBillForm.estateId?.errors?.required ||  submitted">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'blockId'" [labelName]="'Block'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="estateid" formControlName="blockId" [clearable]="true"
                                                (change)="fetchEstateProperties()"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.blockId?.touched || rentalBillForm.blockId?.dirty || submitted) && rentalBillForm.blockId?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Block</ng-option>
                                                <ng-option *ngFor="let data of listOfBlocks" [value]="data.recordId">
                                                    {{data.block}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div class="text-danger"
                                                    *ngIf="rentalBillForm.blockId?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'propertyId'"
                                            [labelName]="'Estate Properties'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="propertyId" [clearable]="false" formControlName="propertyId"
                                                [ngClass]="{'is-valid':rentalBillForm.propertyId?.valid }"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.propertyId ?.touched ||  rentalBillForm.propertyId ?.dirty || submitted) && rentalBillForm.propertyId ?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Property</ng-option>
                                                <ng-option *ngFor="let data of listOfProperties"
                                                    [value]="data.recordId">
                                                    {{data.propertyName}} {{data.recordId}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div *ngIf=" rentalBillForm.propertyId ?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'rentAmount'" [labelName]="'Rent Charge'" />
                                        <div class="form-control-wrap">
                                            <input type="number" formControlName="rentAmount" class="form-control"
                                                id="rentAmount" autocomplete="off"
                                                [ngClass]="{ 'is-invalid': (  rentalBillForm.rentAmount ?.touched ||  rentalBillForm.rentAmount ?.dirty || submitted) &&  rentalBillForm.rentAmount ?.errors  }" />
                                            <span class="invalid-feedback">
                                                <div *ngIf=" rentalBillForm.rentAmount ?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'startMonth'" [labelName]="'Start Month'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="startMonth" [clearable]="false" formControlName="startMonth"
                                                [ngClass]="{'is-valid':rentalBillForm.startMonth?.valid }"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.startMonth ?.touched ||  rentalBillForm.startMonth ?.dirty || submitted) && rentalBillForm.startMonth ?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Start Month</ng-option>
                                                <ng-option *ngFor="let data of listOfMonths" [value]="data">
                                                    {{data}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div *ngIf=" rentalBillForm.startMonth ?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'startYear'" [labelName]="'Start Year'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="startYear" [clearable]="false" formControlName="startYear"
                                                [ngClass]="{'is-valid':rentalBillForm.startYear?.valid }"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.startYear ?.touched ||  rentalBillForm.startYear ?.dirty || submitted) && rentalBillForm.startYear ?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Property</ng-option>
                                                <ng-option *ngFor="let data of listOfChargeYears" [value]="data">
                                                    {{data}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div *ngIf=" rentalBillForm.startYear ?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'endMonth'" [labelName]="'End Month'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="endMonth" [clearable]="false" formControlName="endMonth"
                                                [ngClass]="{'is-valid':rentalBillForm.endMonth?.valid }"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.endMonth ?.touched ||  rentalBillForm.endMonth ?.dirty || submitted) && rentalBillForm.endMonth ?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Property</ng-option>
                                                <ng-option *ngFor="let data of listOfMonths" [value]="data">
                                                    {{data}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div *ngIf=" rentalBillForm.endMonth ?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <app-form-label [labelForName]="'endYear'" [labelName]="'End Year'" />
                                        <div class="form-control-wrap">
                                            <ng-select id="endYear" [clearable]="false" formControlName="endYear"
                                                [ngClass]="{'is-valid':rentalBillForm.endYear?.valid }"
                                                [ngClass]="{ 'is-invalid': ( rentalBillForm.endYear ?.touched ||  rentalBillForm.endYear ?.dirty || submitted) && rentalBillForm.endYear ?.errors  }">
                                                <ng-option value="" class="fs-6" selected>Select Property</ng-option>
                                                <ng-option *ngFor="let data of listOfChargeYears" [value]="data">
                                                    {{data}}
                                                </ng-option>
                                            </ng-select>
                                            <span class="invalid-feedback">
                                                <div *ngIf=" rentalBillForm.endYear ?.errors?.required">
                                                    <app-required-field />
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="custom-control custom-control-sm custom-checkbox checked">
                                        <input type="checkbox" formControlName="saveAndNew" id="saveAndNew"
                                            class="custom-control-input" id="saveAndNew">
                                        <label class="custom-control-label fw-bolder" for="saveAndNew">
                                            Save & select new property
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-3 mb-3 justify-content-end">
                                <div class="col-auto">
                                    <button class="btn btn-outline-light btn-sm" data-bs-dismiss="modal"
                                        (click)="resetRentalBill()">
                                        Reset
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary btn-sm" (click)="applyBackRentalBill()">
                                        Apply back billing
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-2"></div>
            </div>

        </form>

    </div>
</div>